@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  color: rgba(255, 255, 255, 0.87);
  background: rgb(80,60,49);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root::-webkit-scrollbar {
  display: none;
}

textarea:focus {
  outline: none;
}

a {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 2.2em;
  line-height: 1.1;
}

button,
.link {
  border-radius: 16px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

button:hover {
  scale: 1.07;
}

button:active {
  scale: 1;
  transition: all 0.1s ease-in-out;
}

textarea {
  resize: none;
}

.rti--container {
  --rti-bg: '#2b2a33' !important;
  --rti-border: '#44444d' !important;
  --rti-main: '#2b2a33' !important;
  --rti-radius: '0.375rem' !important;
  --rti-s: '0.5rem' !important; /* spacing */
  --rti-tag: '#f9f9f9' !important;
  --rti-tag-remove: '#e53e3e' !important;
}
